# Programmation orientée objet

- Comprendre le jargon derrière la POO
- Créer une classe composées de méthodes et d’autres attributs
- Utiliser des librairies comme Datetime
- Construire une devinette en utilisant la POO

- **Un objet** : N’importe quoi peut désigner un objet : une classe est un objet, une fonction est un objet etc. Lorsqu’on ne connaît pas le type de données auxquelles on a affaire, on va parler d’objet. La plupart du temps cependant, on voit de quoi on parle.
- **Une classe**: Une classe est une collection de méthodes, de variables... qui vont permettre d’exécuter une certain nombre d’actions.
- **Un attribut** : Ce sont les données contenues dans une classe. La plupart du temps, ce sont des fonctions.
- **Une méthode** : Lorsque l’on construit des fonctions, dans une classe, nous parlons en fait de méthodes. Ces fonctions d’ailleurs, on a utilisé auparavant, ce sont celles qui commencent par un point (ex : .pop())
- **Une instance** : Une instance est un exemple d’une classe, c’est à dire qu’à chaque fois que vous allez utiliser une classe, vous allez créer une instance de cette classe.

- Exemple dataframe : [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [1]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [3]:
a = 12
b = 8
a
b

8

In [4]:
print(a)
print(b)

12
8

In [5]:
import numpy as np
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [5]:
## DataFrame : c'est la classe
## df2 et df sont des instances de cette classe
## Attributs

## Attributs

In [11]:
df2.columns

Index(['a', 'b', 'c'], dtype='object')

In [8]:
df2.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
df2.size

9

In [10]:
df2.shape

(3, 3)

## Methods

In [12]:
df2.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [13]:
df3 = df2.copy()
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
df3.isna()

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False

# Créer une classe

## Attributs

In [32]:
class garage:
    employes = 6
    clients = 3
    voitures_a_reparer = 4

In [33]:
garage_instancie = garage()

In [23]:
garage_instancie.employes

5

In [24]:
garage_instancie.clients

150

In [25]:
garage_instancie.voitures_a_reparer

10

## Methode

### Version simple : on force les valeurs des attributs

In [34]:
class garage:
    employes = 5
    clients = 150
    voitures_a_reparer = 10
    voitures_reparees = 0
    def voiture_reparees(self, nb_de_voitures):
        garage.voitures_a_reparer -= nb_de_voitures
        garage.voitures_reparees += nb_de_voitures

In [35]:
garage_instancie = garage()

In [36]:
garage_instancie.voiture_reparees(3)

In [43]:
garage_instancie.voitures_reparees = 5

In [44]:
garage_instancie.voitures_reparees

5

In [45]:
garage_instancie.employes = 60

In [47]:
garage_instancie.employes

60

In [36]:
garage_instancie.voitures_reparees

3

In [38]:
garage_instancie.voitures_a_reparer

7

In [39]:
garage_instancie.employes

5

In [40]:
garage_instancie.clients

150

### Version avec initialisation : on rend flexibles les attributs. On peut les spécifier au moment de l'instanciation

- Fonction init

In [42]:
class garage():
    def __init__(self, employes_init, clients_init, voitures_a_reparer_init, voitures_reparees_init = 0):
        self.employes = employes_init
        self.clients = clients_init
        self.voitures_a_reparer = voitures_a_reparer_init
        self.voitures_reparees = voitures_reparees_init
        
    def voiture_reparees(self, nb_de_voitures):
        self.voitures_a_reparer -= nb_de_voitures
        self.voitures_reparees += nb_de_voitures

In [48]:
garage1 = garage(10, 300, 15, 0)

In [49]:
print(garage1.voitures_a_reparer)
print(garage1.voitures_reparees)

15
0

In [50]:
garage1.voiture_reparees(4)
print(garage1.voitures_a_reparer)
print(garage1.voitures_reparees)

11
4

In [44]:
garage2 = garage(15, 400, 20, 4)
garage3 = garage(5, 150, 10, 8)

# Utiliser des librairies en Python

- Librairie : module dans lequel il y a plusieurs classes
- [Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series)
    - Series : c'est une classe
    - DataFrame : c'est une autre classe etc

In [45]:
# Import du nom du module : de la librairie
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [46]:
DataFrame(data=d)

NameError: name 'DataFrame' is not defined

In [48]:
from pandas import DataFrame
df = DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

## Utilisation de la librairie

- Instancier la classe

In [51]:
df_new = pd.DataFrame()
df_new

Empty DataFrame
Columns: []
Index: []

## Autre exemple // Librairie Datetime

In [51]:
import datetime

In [52]:
today = datetime.datetime.today()

In [53]:
today

datetime.datetime(2020, 5, 2, 14, 46, 9, 93079)

- Ne pas se laisser impressionner par le double datetime : le premier est le nom de la librairie
- On peut la renommer
- Le **module** porte le même nom que la **classe**. Module (librairie) datetime // class datetime. La classe datetime a une méthode (fonction) today : qui renvoie la date à la seconde prêt
- https://docs.python.org/3/library/datetime.html

In [54]:
import datetime as this_is_a_library

In [55]:
resultat_dapplication_de_methode_today_sur_classe_datetime = this_is_a_library.datetime.today()

In [56]:
resultat_dapplication_de_methode_today_sur_classe_datetime

datetime.datetime(2020, 5, 2, 14, 47, 55, 773585)

In [57]:
print("Nous sommes aujourd'hui le {} \n et, au moment où j'ai écrit cette partie du cours, il était {}"
      .format(today.strftime("%A %d %B"), today.strftime("%Hh%M")))

Nous sommes aujourd'hui le Saturday 02 May
 et, au moment où j'ai écrit cette partie du cours, il était 14h46

## Attributs

In [58]:
import datetime
instance_today = datetime.datetime.today()

In [59]:
instance_today.day

2

In [60]:
instance_today.month

5

In [61]:
instance_today.year

2020

In [62]:
instance_today.hour

14

In [63]:
instance_today.minute

49

In [64]:
instance_today.second

39

## Méthodes utiles

### date() et time()

In [65]:
instance_today.date()

datetime.date(2020, 5, 2)

In [66]:
instance_today.time()

datetime.time(14, 49, 39, 897648)

### replace()

In [72]:
mois_prochain = instance_today.replace(month=6)
annee_prochaine = instance_today.replace(year= 2021)

In [67]:
mois_prochain = instance_today.replace(month=6)

In [68]:
mois_prochain

datetime.datetime(2020, 6, 2, 14, 49, 39, 897648)

In [69]:
instance_today.month

5

In [70]:
# Inchangé dans instance_today
print(instance_today.month)
print(mois_prochain)

5
2020-06-02 14:49:39.897648

In [73]:
# Inchangé dans instance_today
print(instance_today.year)
print(annee_prochaine)

2020
2021-05-02 14:49:39.897648

### weekday()

- Lundi est encodé en 0

In [75]:
jour_semaine = instance_today.weekday()
jour_semaine

5

### .isoformat()

In [74]:
instance_today.isoformat()

'2020-05-02T14:49:39.897648'

### .strftime()

- TRES TRES TRES TRES UTILE
- Pour l'écriture. Notion importe des %

In [76]:
instance_today

datetime.datetime(2020, 5, 2, 14, 49, 39, 897648)

In [77]:
instance_today.strftime("%d/%m/%y")

'02/05/20'

In [78]:
instance_today.strftime("%d-%m-%y")

'02-05-20'

In [79]:
instance_today.strftime("%Y-%m-%d")

'2020-05-02'

### .combine()

In [80]:
une_heure = datetime.time(19,32,00)
une_date = datetime.date(2018,7,1)
combinaison = datetime.datetime.combine(une_date,une_heure)
print(combinaison)

2018-07-01 19:32:00

### .strptime()
- TRES TRES TRES UTILE // Pour la lecture: où vous indiquez à Python comment interpréter une date

In [81]:
un_horodatage = "20/11/18 18:30"
date_format = datetime.datetime.strptime(un_horodatage, "%d/%m/%y %H:%M")
print(date_format)

2018-11-20 18:30:00

## Calcul sur données temporelles

In [82]:
instance_today

datetime.datetime(2020, 5, 2, 14, 49, 39, 897648)

In [83]:
## Par défaut : jours
instance_today - datetime.timedelta(10)

datetime.datetime(2020, 4, 22, 14, 49, 39, 897648)

In [84]:
# datetime.timedelta(jours, secondes, microsecondes, millisecondes, minutes, heures, semaines)
# Ajouter 8 semaines et 1 heure

instance_today + datetime.timedelta(0,0,0,0,0,1,8)

datetime.datetime(2020, 6, 27, 15, 49, 39, 897648)