# Explorer une base de données

Exerçons nous sur Pandas. Dans le drive, téléchargez le dataset suivant : [chipotle.csv](https://github.com/JedhaBootcamp/FULL_STACK_12_WEEK_PROGRAM/tree/master/S0.1%20--%20Fondamentaux%20Python/S1-3%20--%20Programmation%20Orient%C3%A9e%20Objet%20%26%20Pandas/S1-3B/1.%20Pandas/Datasets)

1. Importez les bonnes librairies

In [2]:
import pandas as pd

2. Importez le dataset

In [17]:
df =  pd.read_csv('chipotle.csv')

3. Regardez les 10 premières lignes du dataset

In [4]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4. Quelle est la taille de notre dataset ?

In [5]:
df.shape

(4622, 6)

5. Affichez toutes les colonnes de notre dataset

In [6]:
df.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

6. Quel est l’item le plus commandé

     *Indice : On utilisera GROUP BY & Sort_values()*

In [9]:
df.groupby(['item_name'])['quantity'].max().sort_values(ascending = False)

item_name
Chips and Fresh Tomato Salsa             15
Bottled Water                            10
Side of Chips                             8
Canned Soda                               4
Chicken Burrito                           4
Canned Soft Drink                         4
Chips and Guacamole                       4
Bowl                                      3
Carnitas Bowl                             3
Steak Burrito                             3
Veggie Burrito                            3
Chicken Bowl                              3
Chips and Tomatillo-Red Chili Salsa       3
Chips                                     3
Steak Bowl                                3
Carnitas Burrito                          2
Chips and Roasted Chili Corn Salsa        2
Carnitas Crispy Tacos                     2
Barbacoa Crispy Tacos                     2
Chicken Crispy Tacos                      2
Chicken Salad Bowl                        2
Chicken Soft Tacos                        2
Veggie Soft Tacos                         2
6 Pack Soft Drink                         2
Steak Salad Bowl                          2
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Nantucket Nectar                          2
Veggie Bowl                               2
Steak Crispy Tacos                        2
Steak Soft Tacos                          2
Barbacoa Bowl                             1
Barbacoa Burrito                          1
Veggie Salad                              1
Barbacoa Salad Bowl                       1
Barbacoa Soft Tacos                       1
Veggie Crispy Tacos                       1
Burrito                                   1
Chips and Mild Fresh Tomato Salsa         1
Steak Salad                               1
Chips and Roasted Chili-Corn Salsa        1
Carnitas Salad                            1
Carnitas Salad Bowl                       1
Carnitas Soft Tacos                       1
Izze                                      1
Crispy Tacos                              1
Chicken Salad                             1
Veggie Salad Bowl                         1
Salad                                     1
Name: quantity, dtype: int64

7. Combien d’items ont été commandés au total chez Chipotle

In [10]:
df.quantity.sum()

4972

8. Combien de chiffre d’affaire à realisé Chipotle ?
      
      A. Convertissez item_price en nombre décimal
        1. Regardez dataset[“item_price”], que voyez vous ?
        2. Trouvons un moyen d’enlever ce $ qui nous gène. Pour cela, on peut utiliser l’objet _.str _([https://bit.ly/2ClcdtN](https://bit.ly/2ClcdtN))
        3. Convertissons maintenant la série en float au lieu de string
        
    B. Multipliez la quantité vendues par le prix de l’item
    
    C. Faites la somme du tout, combien trouvez vous?
    
    D. Arrondissez à deux chiffres après la virgule
    
        1. On pourra utiliser la fonction [np.round()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.round.html#numpy.ndarray.round)

In [18]:
for i in range(len(df.item_price)):
    df['item_price'][i] = str(df.item_price[i])[1:]

C:\Users\XPS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [21]:
df['item_price'] = df['item_price'].astype(float)
df.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [25]:
df['PxQ'] = df.item_price * df.quantity
round(df.PxQ.sum(),2)

39237.02

9. Quel est le revenu moyen par commande ?

In [52]:
grid = df.groupby(['order_id']).sum()

In [53]:
grid.mean()

Unnamed: 0    5822.863141
quantity         2.711014
item_price      18.811429
PxQ             21.394231
dtype: float64